# APP INFO
APP_NAME=SuperBazi
APP_HOST=0.0.0.0
APP_PORT=3355
APP_PUBLIC_BASE_URL=http://localhost:3355
APP_DEFAULT_LOCALE=en

# API CONFIG
API_URL=http://localhost:3000
API_KEY=3K9sonYW7dZNFBjfCsQnGGFEBNY4inHzSdWv5oLioQInDmMtfALxSaAo42NXABet

# SESSION NAME
ACCESS_TOKEN=sbt
REFRESH_TOKEN=sbr
